


.title {
  text-align: center;
  padding: 16px;
  background-color:cadetblue;
  border: 1px solid #ccc;
}

/* App.css */

.app {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically as well */
  height: 100vh; /* Set height to full viewport height */
}

.starship-card-container {
  display: flex;
  justify-content: space-around;
  max-width: 3000px; /* Set a max-width for the container */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  padding: 3em;
}

.starship-card {
  font-size:small;
  width: 300px;
  margin: 16px; /* Adjust the margin for more space around the cards */
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.starship-card h2 {
  color: #333;
}

.starship-card p {
  color: #666;
}
