/* Dashboard.css */

/* Add any specific styles for your Dashboard component here */
ul {
  list-style: none;
  padding: 0;
}




.link {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  text-decoration: none; /* Remove default link underline */
  color: #333; /* Set link color */
  padding: 8px; /* Add padding for spacing */
  border-bottom: 1px solid #ccc; 
}

.link:hover {
  background-color: #f0f0f0; /* Add a background color on hover */
}

/* Add additional styles as needed */



.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  background: #6532CB;
}

.nav > * {
  padding-right: 20px;
}

.nav .nav-logo {
  color: #99CC00;
  font-weight: bold;
  font-size: 1.5em;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main {
  padding: 0 20px;
}

